<template>
<div class="wrapper">
  <nav id="sidebar">
        <div class="sidebar-header">
          <img class="logo" src="untitled_1.png" alt="Musix Logo" />

          <p class="title">Musik<br>Man</p>
        </div>
        <ul class="lisst-unstyled components">

          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><strong>Upload Music</strong></a></li>
          
          <li>
            <a href="#"><strong>All Songs</strong></a>
          </li>
        <br>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2"><strong>Create Playlist</strong></a></li>
        <br>
              <li>
                <a href="#"><strong>Playlist 1</strong></a>
              </li>
              <li>
                <a href="#"><strong>Playlist 2</strong></a>
              </li>
              <li>
                <a href="#"><strong>Playlsit 3</strong></a>
              </li>
              <li>
                <a href="#"><strong>Playliist 4</strong></a>
              </li>
            </ul>
      </nav>
</div>
<div id="exampleModal" class="upload-music-modal modal fade" role="dialog">
        <div class="upload-music-dialog modal-dialog">
          
            <div class="upload-content modal-content">

                <div class="upload-header modal-header">
                    <p class="upload-title modal-title">Upload Music</p>
                </div>

                <div class="upload-body modal-body">
                    <label>Drag and Drop files here</label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn1" data-bs-dismiss="modal">Upload</button>
                    <button type="button" class="btn2" data-bs-dismiss="modal">Cancel</button>
                  </div>

            </div>

        </div>
    </div>

<div id="exampleModal2" class="create-playlist-modal modal fade" role="dialog">
        <div class="create-playlist-dialog modal-dialog">
          
            <div class="playlist-content modal-content">

                <div class="playlist-header modal-header">
                    <p class="playlist-title modal-title">Create Playlist</p>
                </div>

                <div class="playlist-body modal-body">
                    <input type="text" class="playlist-input form-control">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn1" data-bs-dismiss="modal">Create</button>
                    <button type="button" class="btn2" data-bs-dismiss="modal">Cancel</button>
                  </div>

            </div>

        </div>
</div>
</template>

<script>
export default {
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
#sidebar.active {
  margin-left: -250px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 663px;
  background: #1E1A1A;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #1E1A1A;
  height: 100px;
}
#sidebar ul.components {
  padding: 20px 0;
}

#sidebar p {
  color: #fff;
  padding: 10px;
  font-size:25px;
  font-family: 'Post No Bills Jaffna', sans-serif;
  margin-top:-10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-decoration: none;
  font-family: 'Post No Bills Jaffna', sans-serif;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #413232;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}

ul ul a {
  padding-left: 30px !important;
  background: #413232;
  
}
.topnav {
  margin-left: 500px;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

#sidebar img {
  width: 60px;
  height: 60px;
  margin-top: 5px;
  float: left;
  margin-right:15px;
}


.upload-music-modal {
    margin-top: 15%;
    background: none;
}

.upload-music-modal .upload-music-dialog .upload-content {
    border-radius: 0%;
    border: 1px solid #555555;
    background-color: #1f1f1f;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-title {
    color: #fff;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-size: 25px;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-body {
    background-color: #C4C4C4;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
    height: 106px;
    border: 2px;
    border-color: #081EE4;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-body label {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 130px;
    font-family: 'Post No Bills Jaffna', sans-serif;
}

.upload-music-modal .upload-music-dialog .upload-content .modal-footer .btn1 {
    width: 116px;
    height: 35px;
    border: none;
    border-radius: none;
    color: #000000;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
    margin-right: 10px;
}

.upload-music-modal .upload-music-dialog .upload-content .modal-footer .btn2 {
    width: 116px;
    height: 35px;
    border: none;
    border-radius: none;
    color: #000000;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #FFFFFF;
}

.upload-music-modal .upload-music-dialog .upload-content .modal-header, .modal-body, .modal-footer {
    border: none !important;

}

.create-playlist-modal {
    margin-top: 15%;
}

.create-playlist-modal .create-playlist-dialog .playlist-content {
    border-radius: 0%;
    border: 1px solid #555555;
    background-color: #1f1f1f;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-title {
    color: #fff;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-size: 25px;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-body .playlist-input {
    border-radius: 0%;
    border: 1px solid #767676;
    background-color: #242424;
    color: #fff;
    
}

.create-playlist-modal .create-playlist-dialog .playlist-content .modal-footer .btn1 {
    width: 116px;
    height: 35px;
    border: none;
    border-radius: none;
    color: #000000;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
    margin-right: 10px;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .modal-footer .btn2 {
    width: 116px;
    height: 35px;
    border: 1.5px solid #5c5c5c;
    border-radius: none;
    color: #000000;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-body {
    border-top: none !important;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-header, .playlist-body, .playlist-footer {
    border: none !important;
}
</style>
