<template>
    <div class="main_content ">
        <div class = "search_bar">
            <input type="text" placeholder="Search">
            <h2>All Songs</h2>
        </div>
        <div class="table-panel">
                            <table class="table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Title</th>
                                        <th>Artist</th>
                                        <th>Album</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="song-row">
                                    <td>
                                        <button style="background-color: #4B4A4A; border: none;">
                                            <span><img src="polygon_7.png" alt="" width="40" height="40"></span>
                                        </button>
                                    </td>
                                    <td>Ikaw Lang</td>
                                    <td>Kiyo</td>
                                    <td>None</td>
                                    <td>4:10</td>
                                </tr>
                                <tr class="song-row">
                                    <td>
                                        <button style="background-color: #4B4A4A; border: none;">
                                            <span><img src="polygon_7.png" alt="" width="40" height="40"></span>
                                        </button>
                                    </td>
                                    <td>Eba</td>
                                    <td>Kiyo</td>
                                    <td>None</td>
                                    <td>3:43</td>
                                </tr>
                                <tr class="song-row">
                                    <td>
                                        <button style="background-color: #4B4A4A; border: none;">
                                            <span><img src="polygon_7.png" alt="" width="40" height="40" ></span>
                                        </button>
                                    </td>
                                    <td>BMW</td>
                                    <td>Because</td>
                                    <td>None</td>
                                    <td>3:45</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class= "container">
                            <div class="music-controls-panel">
                            <div class="music-control-box">
                                <div class="progress">
                                    <progress class="music-progress" value="35" max="100"></progress>
                                </div>
                                <center>
                                <button style=" background-color: #4B4A4A; border: none; margin-top: 10px; margin-right: 50px;">
                                    <span><img src="prevprev.png" alt="" width="42" height="44"></span>
                                </button>
                                <button style="background-color: #4B4A4A; border: none;">
                                    <span><img src="playplay.png" alt="" width="42" height="44"></span>
                                </button>
                                <button style="background-color: #4B4A4A; border: none; margin-left: 50px;">
                                    <span><img src="nextnext.png" alt="" width="42" height="44"></span>
                                </button>
                                </center>
                            </div>
                        </div>
                        </div>
    </div>
</template>

<script>
export default {
  
}
</script>

<style scoped>

</style>