<template>
  <div class="app-container">
       <nav class ="navbar navbar-expand-lg navbar-light" id="sidebar">
         <div class = "container-fluid">
                <MusicPlayer/>
         </div>
    </nav>
    <Maincontainer/>
  </div>
</template>

<script>
import MusicPlayer from './components/HelloWorld.vue'
import Maincontainer from './components/Main.vue'

export default {
  name: 'App',
  components: {
    MusicPlayer,
    Maincontainer
  }
}
</script>

<style>
.app-container{
  display:flex;
}
.main_content{
  width: 100%;
  height: 665px;
  background: #4B4A4A;
  padding: 5px 70px;
}
.main_content .search_bar{
  margin-top: 15px;
  padding: 5px;
  color: #000000;
  
}
.main_content .search_bar input[type="text"]{
  width: 250px;
  padding: 5px 10px; 
  outline: none;
  color: #000000;
  background: #FFFFFF;
  border: 1px;
  font-family: 'Post No Bills Jaffna', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.main_content h2{
  margin-top: 50px;
  font-family: 'Post No Bills Jaffna', sans-serif;
  font-size: 40px;
  color: #FFFFFF;
}

.main_content .table-panel {
    height: 350px;
    margin-top: 10px;
    margin-left: 5px;
}

.main_content .table-panel table {
    color: #fff;
    width: 100%;
    height: 340px;
    font-family: 'Post No Bills Jaffna', sans-serif;
}

.main_content .table-panel table thead {
    height: 40px;
    margin-bottom: 30px;
    background: #FFFFFF;
    color: black;

}

.main_content .table-panel table tbody tr button {
    margin-left: 25px;
    width: 1px;

}

.main_content .table-panel table th{
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-weight: bold;
}
.main_content .table-panel table td{
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-weight: bold;
    
}
.main_content .table-panel .song-row span{
    margin-left:-20px;
    
}
.main_content .table-panel table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

.container .songs-col .music-controls-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 190px;
    background-color: #1f1f1f;
}

.container .music-controls-panel .music-control-box {
    height: 10px;
    margin: 60px auto;
}

.container .music-controls-panel .music-control-box .progress {
    height: 5px;
    border-radius: 2%;
}

.container .music-controls-panel .music-control-box .progress .music-progress {
    width: 100%;
    height: inherit;
    margin-bottom: 12px;
    appearance: none;
}

.container .music-controls-panel .music-control-box .progress .music-progress::-webkit-progress-value {
    background-color: #01D88A;
}
</style>
