*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}
 
.wrapper .main_content{
  width: 100%;
  height: 100%;
  background: #4B4A4A;
  padding: 5px 70px;
}
.wrapper .main_content .search_bar{
  margin-top: 15px;
  padding: 5px;
  color: #000000;
  
}
.wrapper .main_content .search_bar input[type="text"]{
  width: 250px;
  padding: 5px 10px; 
  outline: none;
  color: #000000;
  background: #FFFFFF;
  border: 1px;
  font-family: 'Post No Bills Jaffna', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.wrapper .main_content h2{
  margin-top: 50px;
  font-family: 'Post No Bills Jaffna', sans-serif;
  font-size: 40px;
  color: #FFFFFF;
}

.wrapper .main_content .table-panel {
    height: 350px;
    margin-top: 10px;
    margin-left: 5px;
}

.wrapper .main_content .table-panel table {
    color: #fff;
    width: 100%;
    height: 350px;
    font-family: 'Post No Bills Jaffna', sans-serif;
}

.wrapper .main_content .table-panel table thead {
    height: 50px;
    margin-bottom: 30px;
    background: #FFFFFF;
    color: black;

}

.wrapper .main_content .table-panel table tbody tr button {
    margin-left: 25px;
    width: 1px;

}

.wrapper .main_content .table-panel table th{
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-weight: bold;
}
.wrapper .main_content .table-panel table td{
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-weight: bold;

}
.wrapper .main_content .table-panel table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

.wrapper .container .songs-col .music-controls-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 190px;
    background-color: #1f1f1f;
}

.wrapper .container .music-controls-panel .music-control-box {
    height: 10px;
    margin: 60px auto;
}

.wrapper .container .music-controls-panel .music-control-box .progress {
    height: 5px;
    border-radius: 2%;
}

.wrapper .container .music-controls-panel .music-control-box .progress .music-progress {
    width: 100%;
    height: inherit;
    margin-bottom: 12px;
    appearance: none;
}

.wrapper .container .music-controls-panel .music-control-box .progress .music-progress::-webkit-progress-value {
    background-color: #01D88A;
}

#sidebar img {
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-left: 20px;
  float: left;
}
p.title {
  font-family: 'Post No Bills Jaffna', sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  margin-top: 15px;
  margin-left: 85px;
}

#sidebar.active {
  margin-left: -250px;
}
.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #1E1A1A;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #1E1A1A;
  height: 140px;
}
#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #413232;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}

ul ul a {
  padding-left: 30px !important;
  background: #413232;
}
.topnav {
  margin-left: 500px;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
  /* upload music modal */

.upload-music-modal {
    margin-top: 15%;
    background: none;
}

.upload-music-modal .upload-music-dialog .upload-content {
    border-radius: 0%;
    border: 1px solid #555555;
    background-color: #1f1f1f;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-title {
    color: #fff;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-size: 25px;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-body {
    background-color: #C4C4C4;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
    height: 106px;
    border: 2px;
    border-color: #081EE4;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-body label {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 130px;
    font-family: 'Post No Bills Jaffna', sans-serif;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-footer .btn-upload {
    width: 116px;
    height: 35px;
    border: none;
    border-radius: none;
    color: #000000;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
    margin-right: 10px;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-footer .btn-cancel {
    width: 116px;
    height: 35px;
    border: none;
    border-radius: none;
    color: #000000;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #FFFFFF;
}

.upload-music-modal .upload-music-dialog .upload-content .modal-header, .modal-body, .modal-footer {
    border: none !important;

}


/* create playlist modal */

.create-playlist-modal {
    margin-top: 15%;
}

.create-playlist-modal .create-playlist-dialog .playlist-content {
    border-radius: 0%;
    border: 1px solid #555555;
    background-color: #1f1f1f;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-title {
    color: #fff;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-size: 25px;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-body .playlist-input {
    border-radius: 0%;
    border: 1px solid #767676;
    background-color: #242424;
    color: #fff;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-footer .btn-create {
    width: 116px;
    height: 35px;
    border: none;
    border-radius: none;
    color: #000000;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
    margin-right: 10px;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-footer .btn-cancel {
    width: 116px;
    height: 35px;
    border: 1.5px solid #5c5c5c;
    border-radius: none;
    color: #000000;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-body {
    border-top: none !important;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-header, .playlist-body, .playlist-footer {
    border: none !important;
}