*{
	padding:0;
	margin:0;
	box-sizing:border-box;
  	list-style: none;
  	text-decoration: none;
	font-family: 'Post No Bills Jaffna', sans-serif;
}

.wrapper{
	height:100%;
	width:100%;
	position:relative;
}
.wrapper .multi_color_border{
  width: 100%;
  height: 3px;
  background: white;
}
.wrapper .top_nav{
  width: 100%;
  height: 65px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .top_nav .left{
  display: flex;
  align-items: center;
}

.wrapper .top_nav .left .logo p{
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: 'Post No Bills Jaffna', sans-serif;
  margin-top: 10px;
  margin-right: 25px;
}

.wrapper .top_nav .left .logo p span{
  color: white;
  font-family: 'Post No Bills Jaffna', sans-serif;
}
.wrapper .top_nav .left .search_bar{
  margin-left: 40px;
  margin-bottom: 10px;
  
}
.wrapper .top_nav .left .search_bar input[type="text"]{
  width: 500px;
  padding: 5px 20px; 
  outline: none;
  color: white;
  background: #9B9B9B;
  border: 1px;
  outline: none;
}
.wrapper .top_nav .left .search_bar input[type="submit"]{
  width: 80px;
  height: 30px;
  background: white;
  color: black;
  border-radius: 25px;
  font-weight: bold;
}

.wrapper .bottom_nav{
  width: 100%;
  background: ;
  height: 45px;
  padding: 0 20px;
}
.wrapper .bottom_nav ul{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .bottom_nav ul li a{
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
}
.wrapper .bottom_nav ul li a:hover{
	color: #9B9B9B;
	transition: .5s;
}

.container1{
	margin-top: 230px;
  width: 100%;
  height: 65px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 80px;
}
.container1 .right_con li{
	font-size: 30px;
}

.container1 .right_con li:hover{
	color: #292929;
	transition: .5s;
}

body {
background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url('https://t3.ftcdn.net/jpg/01/85/75/54/360_F_185755469_0JYi2jvix00RCSrbSK1ymWLAYIUjPFrG.jpg');
height:100vh;
position:center;
background-size:cover;
background-repeat:no-repeat;
}
.text-center {
	font-size: 18px;
  text-align: center;
}

footer {
		font-family: 'Post No Bills Jaffna', sans-serif;
    background: #504E4E;
    opacity: 0.7;
    height: 100px;
    color: #ffffff;
    padding: 5px 0px;
    position: relative;
}
